@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}


.button{
    position: absolute;
    background-image: url(DarkMode.png);
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    right: 0px;
    left: 1150px;
    top: 6px;
    border-radius: 144px;
    cursor: pointer;
}

header{
    width: 1400px;
    height: 80px;
    display: flex;
    align-items: center;
}

.img{
    position: absolute;
    left: 146px;
    top: 19px;
    height: 36.36px;
    width: 40px;
}

.p{
    position: absolute;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #173A56;
    top: 23px;
    left: 202px;
    line-height: 28px;
}

nav{
    position: absolute;
    width: 379px;
    height: 28px;
    font-style: normal;
    word-spacing: 21px;
    font-family: 'Poppins';
    top: 20px;
    left: 561px;

}

a{
    list-style: none;
    text-decoration: none;
    font-weight: 600;
}

.a1{
    color: #22343D;
    font-size: 16px;
}

.a2{
    font-style: normal;
    font-size: 16px;
    color: black;
    font-weight: 200;
}

.button1{
    box-sizing: border-box;
    position: absolute;
    width: 102px;
    height: 43px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #173A56;;
    left: 850px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #BCD0E5;
    background-color:  #fbfdff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button1:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    color: white;
    scale: 1.05;
}

.button2{
    position: absolute;
    width: 110px;
    height: 43px;
    left: 970px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: none;
    background: #02897A;
    font-family: 'Poppins';
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button2:hover{
    background: linear-gradient(135deg, #02897A,#035B81);
    scale: 1.05;
}

.container{
    width: 1091px;
    height: 555.72px;
    margin: auto;
}

.pcontainer{
    position: absolute;
    left: 159px;
    top: 225px;
    width: 518px;
    height: 120px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 60px;
    font-size: 40px;
    color: #22343D;
}

.pcontainer1{
    position: absolute;
    width: 458px;
    height: 95px;
    left: 159px;
    top: 363px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
}

.img1{
    position: absolute;
    top: 100px;
    left: 50%;
}

.button3{
    position: absolute;
    border: none;
    width: 175px;
    height: 53px;
    font-family: 'Poppins';
    color: white;
    font-weight: 700;
    left: 159px;
    right: 0%;
    top: 503px;
    bottom: 0%;
    background: #02897A;
    border-radius: 4px;
    cursor: pointer;
}

.button4{
    position: absolute;
    border: none;
    width: 161px;
    height: 23px;
    top: 518px;
    left: 364px;
    background-color: white;
    cursor: pointer;
}

.btndiv{
    position: absolute;
left: 10.87%;
right: 76.71%;
top: 6.52%;
bottom: 19.57%;
width: 0px;
height: 0;
border: 13px solid transparent;
border-top: 0;
border-bottom: 20px solid #02897A;
border-radius: 1.125px;
transform: rotate(90deg);
}

.btna{
    position: absolute;
height: 23px;

right: 0%;
top: calc(50% - 24px/2 + 0.5px);
font-family: 'Poppins';
font-weight: 600;

line-height: 24px;
text-decoration-line: underline;
color: #02897A;
}

.pdiv1{
    position: absolute;
    width: 539px;
    height: 96px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    padding-left: 33%;
    padding-top: 130px;
}

.div1{
    position: absolute;
width: 2211px;
height: 543px;

}

.img2{
   position: absolute;
   top: 880.74px;
}

.img3{
    position: absolute;
    top: 1000px;
    left: 147px;
}

.p1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.p1:hover{
    text-decoration: underline black;
    cursor: pointer;
}

.p2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.div{
    position: absolute;
    width: 240px;
    height: 178px;
    padding-top: 335px;
    padding-left: 300px;
}

.div2{
    position: absolute;
    width: 240px;
    height: 178px;
    padding-top: 335px;
    padding-left: 650px;
}

.p3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.p3:hover{
    text-decoration: underline black;
    cursor: pointer;
}

.p4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.div3{
    position: absolute;
    width: 240px;
    height: 178px;
    padding-top: 335px;
    padding-left: 1000px;
}

.p5{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.p5:hover{
    text-decoration: underline black;
    cursor: pointer;
}


.p6{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.div4{
    position: absolute;
    width: 240px;
    height: 178px;
    padding-top: 335px;
    padding-left: 1350px;   
}

.p7{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;   
}

.p7:hover{
    text-decoration: underline;
    cursor: pointer;
}

.p8{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.btn1{
    position: absolute;
    width: 175px;
    height: 53px;
    top: 1270px;
    left: 44%;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border:none;
    background: #02897A;
    transition: 0.2s ease-in;
}

.btn1:hover{
    cursor: pointer;
    background-color: rgb(20, 173, 173);
    scale: 1.1;
}


.pcontainer2{
    width: 486px;
    height: 435px;
    padding-left: 145px;
    padding-top: 970px;
}

.p9{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #22343D;
}

.p10{
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #22343D;
}

.p11{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.p12{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #22343D;
}

.p13{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.p14{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #22343D;
}

.p15{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.img4{
    position: absolute;
    padding-left: 900px;
    top: 1650px;
}

.div5{
    width: 543px;
    height: 500px;
    margin-left: 120px;
    display: flex;
    gap: 200px;
}

.div6{
    margin-left: 46%;
    margin-top: -26%;
}

.p16{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #22343D;
}

.p17{
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #22343D;
}

.p18{
    width: 486px;
    height: 78px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
}

.p19{
    width: 365px;
    height: 52px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    padding-left: 70px;
    margin-top: -47px;
}

.p20{
    width: 385px;
    height: 52px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    padding-left: 70px;
    margin-top: -47px;
}

.p21{
    width: 385px;
    height: 52px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    padding-left: 70px;
    margin-top: -47px;
}

.div7{
    width: 543px;
    height: 500px;
    margin-left: 120px;
    margin-top: 200px;
}

.p22{
    width: 133px;
    height: 24px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 24px;
    color: #22343D;
}

.p23{
    width: 226px;
    height: 48px;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 48px;
    color: #22343D;
}

.p24{
    width: 486px;
    height: 78px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.p25{
    width: 160px;
    height: 26px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 26px;
    color: #22343D;
}

.p26{
    width: 486px;
    height: 52px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.p27{
    width: 109px;
    height: 26px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 26px;
    color: #22343D;
}

.p28{
    width: 486px;
    height: 52px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.img5{
    margin-left: 50%;
    margin-top: -25%;
}

.img6{
    margin-top: 200px;
}

.p29{
    width: 348px;
    height: 48px;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 48px;
    color: #22343D;
    margin-top: -25%;
    margin-left: 40%;
}

.p30{
    width: 542px;
    height: 52px;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    color: #22343D;
    margin-left: 35%;
}

.div8{
    display: flex;
    width: 388px;
    height: 98px;
    margin-top: 100px;
    margin-left: 400px;
}

.p31{
    width: 225px;
    height: 24px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    color: #2F281E;
    padding-left: 35px;
    padding-top: 35px;
}

.div9{
    display: flex;
    width: 354px;
    height: 98px;
    margin-top: -100px;
    margin-left: 60%;
}

.p32{
    width: 200px;
    height: 24px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    color: #2F281E;
    margin-right: 35px;
    padding-top: 35px;
}

.div10{
    display: flex;
    width: 377px;
    height: 98px;
    margin-top: 50px;
    margin-left: 450px;
}

.p33{
    width: 199px;
    height: 24px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    color: #2F281E;
    margin-right: 35px;
    padding-top: 35px;
}

.div11{
    display: flex;
    width: 395px;
    height: 98px;
    margin-left: 60%;
    margin-top: -100px;
}

.p34{
    width: 239px;
    height: 24px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    color: #2F281E;
    padding-left: 35px;
    padding-top: 35px;
}

.btn2{
    width: 216px;
    height: 53px;
    background-color: #02897A;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-left: 45%;
    transition: all 0.2s ease-in; 
}

.btn2:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    cursor: pointer;
    scale: 1.05;
}

.p35{
    font-size: 34px;
    font-family: 'Poppins';
    font-weight: 700;
    margin-left: 120px;
    color: #22343D;
}

.p36{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 120px;
    color: #22343D;
}

.div12{
    width: 348px;
    height: 359px;
    margin-left: 250px;
    border-radius: 8px;
    border: solid 1px #BCD0E5;
}

.p37{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    padding-left: 10px;
}

.p38{
    width: 294px;
    height: 70px;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #22343D;
    padding-left: 10px;
}

.div13{
    width: 348px;
    height: 359px;
    margin-left: 750px;
    margin-top: -360px;
    border-radius: 8px;
    border: solid 1px #BCD0E5;
}

.p39{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    padding-left: 10px;
}

.img7{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.p40{
    width: 294px;
    height: 70px;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #02897A;
    padding-left: 10px;
}

.div14{
    width: 348px;
    height: 359px;
    margin-left: 1250px;
    margin-top: -360px;
    border-radius: 8px;
    border: solid 1px #BCD0E5;
}

.p41{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    padding-left: 10px;
}

.p42{
    width: 294px;
    height: 70px;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #22343D;
    padding-left: 10px;
}

.img8{
    margin-left: 48%;
}

.p43{
    width: 192px;
    height: 51px;
    font-size: 34px;
    font-family: 'Poppins';
    font-weight: 700;
    margin-left: 45%;
    color: #22343D;
}

.p44{
    width: 213px;
    height: 24px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 44%;
    color: #22343D;
}

.div15{
    width: 322.65px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 250px;
}

.p45{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #22343D;
    text-align: center;
}

.p46{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    line-height: 40px;
    text-align: center;
}

.p47{
    font-size: 76px;
    font-family: 'Poppins';
    font-weight: 700;
    color:#02897A;
    line-height: 100px;
    margin-left: 80px;
}

.p48{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #02897A;
    line-height: 30px;
    margin-left: 140px;
    margin-top: -80px;
}

.p49{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #AFAFAF;
    margin-left: 140px;
}

.p50{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    text-align: center;
}

.p51{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    text-align: center;
}

.p52{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    text-align: center;
}

.btn3{
    width: 139px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background: #02897A;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 90px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn3:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    scale: 1.05;
}

.div16{
    width: 322.65px;
    height: 480px;
    background:#02897A;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 750px;
    margin-top: -480px;
}

.p53{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    text-align: center;
}

.p54{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    line-height: 40px;
    text-align: center;
}

.p55{
    font-size: 76px;
    font-family: 'Poppins';
    font-weight: 700;
    color:white;
    line-height: 100px;
    margin-left: 80px;
}

.p56{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    line-height: 30px;
    margin-left: 140px;
    margin-top: -80px;
}

.p57{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    margin-left: 140px;
}

.p58{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    text-align: center;
}

.p59{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    text-align: center;
}

.p60{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    text-align: center;
}

.btn4{
    width: 139px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: #02897A;
    margin-left: 90px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn4:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    color: white;
    scale: 1.05;
}

.div17{
    width: 322.65px;
    height: 480px;
    background:white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 1250px;
    margin-top: -480px; 
}

.p61{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #22343D;
    text-align: center;
}

.p62{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
    line-height: 40px;
    text-align: center;
}

.p63{
    font-size: 76px;
    font-family: 'Poppins';
    font-weight: 700;
    color:#02897A;
    line-height: 100px;
    margin-left: 80px;
}

.p64{
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #02897A;
    line-height: 30px;
    margin-left: 160px;
    margin-top: -80px;
}

.p65{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #AFAFAF;
    margin-left: 160px;
}

.p66{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    text-align: center;
}

.p67{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    text-align: center;
}

.p68{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    text-align: center;
}

.btn5{
    width: 139px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background: #02897A;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 90px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn5:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    scale: 1.05;
}

.p69{
    width: 302px;
    height: 57px;
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 700;
    color: #22343D;
    margin: auto;
}

.p70{
    width: 537px;
    height: 56px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    margin: auto;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 28px;
    color: #22343D;
}

.div18{
    width: 327px;
    height: 236px;
    border: solid 1px #DEDEDE;
    margin-left: 250px;
}

.divdiv{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    width: 327px;
    height: 19px;
}

.p71{
    width: 275px;
    height: 84px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #737373;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 10px;
}

.img9{
    margin-left: 30px;
    margin-top: 20px;
}
.p72{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #02897A;
    margin-left: 100px;
    margin-top: -50px;
}

.p73{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 100px;
}

.div19{
    width: 327px;
    height: 236px;
    border: solid 1px #DEDEDE;
    margin-left: 750px;
    margin-top: -240px;
}

.div20{
    width: 327px;
    height: 236px;
    border: solid 1px #DEDEDE;
    margin-left: 1250px;
    margin-top: -240px;
}

.div21{
    width: 968px;
    height: 345px;
    background: #02897A;
    border: none;
    border-radius: 32px;
    margin: auto;
}

.p74{
    width: 500px;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
    line-height: 48.5px;
    padding-left: 51px;
    padding-top: 49px;
}

.img10{
    position: absolute;
    padding-left: 581px;
    left: 23%;
    margin-top: -195px;
}

.btn6{
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    color: #02897A;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 51px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn6:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    color: white;
    scale: 1.05;
}

footer{
    width: 1109px;
    height: 246px;
    margin: auto;
}

.div22{
    display: flex;
    width: 162px;
    height: 20px;
    gap: 26px;
}

.div23{
    width: 118px;
    height: 205px;
    margin-left: 324px;
    margin-top: -85px;
    line-height: 35px;
}

.p75{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
}

.a3{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
}

.div24{
    width: 72px;
    height: 140px;
}

.div25{
    width: 132px;
    height: 140px;
    margin-top: -170px;
    margin-left: 280px;
    line-height: 35px;
}

.p76{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
}

.a4{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #22343D;
}

.div26{
    width: 280px;
    height: 57px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #22343D;
    margin-left: 550px;
    margin-top: -140px;
}

.inp{
    width: 325px;
    height: 48px;
    border: solid 1px #BCD0E5;
    border-radius: 4px;
    margin-left: 550px;
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Poppins';
    text-align: inherit;
}

.btn7{
    width: 131px;
    height: 39px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 700;
    background: #02897A;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    margin-left: 550px;
    margin-top: 21px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn7:hover{
    background: linear-gradient(135deg, #02897A,#035B81 );
    color: white;
    scale: 1.05;
}

.p77{
    width: 350px;
    height: 31px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    margin: 50%;
    color: #22343D;
}

.a5{
    color: #02897A;
}